@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@200;300;400;600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bg-img-mobile: url("../images/bg-hero-mobile.svg");
    --bg-img-desktop: url("../images/bg-hero-desktop.svg");
    --clr-pri-pink: hsl(322, 100%, 66%);
    --clr-neu-vpal-cyan: hsl(193, 100%, 96%);
    --clr-neu-vdar-cyan: hsl(192, 100%, 9%);
    --clr-neu-gray-blue: hsl(208, 11%, 55%);
    --ff-b: 'Open Sans', sans-serif;
    --ff-h: 'Poppins', sans-serif;
    --fw-600: 600;
    --fw-400: 400;
    --fw-700: 700;
}

body {
    font-family: var(--ff-b);
    font-size: 1.125rem;
    line-height: 1.5;
}

/* global */

h1,
h2,
p {
    margin-bottom: 1em;
}

header,
main {
    margin: 2em 0;
}

img {
    height: auto;
    width: 100%;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

.col-top,
.col {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
}

@media (max-width: 820px) {

    .container {
        margin: 0 auto;
        width: 95vw;
        padding: 2em 1em;
    }

    .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2em;
        align-items: center;
        text-align: center;
    }
}



/* typography */

h1,
h2 {
    font-family: var(--ff-h);
    font-weight: var(--fw-600);
}

p {
    color: var(--clr-neu-gray-blue);
}

@media (max-width: 820px) {
    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.31rem;
    }

    p,
    li {
        font-size: 0.8rem;
    }
}


/* button global */

.button {
    border-style: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    font-family: var(--ff-b);
    font-weight: var(--fw-700);
    font-size: 0.8rem;
    text-decoration: none;
    padding: 0.5rem 3rem;
    transition: all 0.25s;
}


.button:hover,
.button:focus {
    outline: none;
    filter: opacity(60%);
}


.btn {
    color: #fff;
    background: var(--clr-pri-pink);
}


/* header-section */

.logo {
    height: 100%;
    width: 8em;
}

.btn-top {
    color: var(--clr-neu-vdar-cyan);
    background: #fff;
}

@media (max-width: 820px) {
    .logo {
        width: 7em;
    }

    header .col-top {
        padding: 0;
    }

    .btn-top {
        padding: 0.3rem 1.5rem;
    }
}

/* main-section */

main {
    background: var(--clr-neu-vpal-cyan);
    background-image: url('../images/bg-hero-desktop.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8em 0 2em;
    margin-top: -8em;
}

main .col p {
    color: var(--clr-neu-vdar-cyan);
}

.img-hero {
    width: 43vw;
}

@media (max-width: 820px) {
    .img-hero {
        width: 80vw;
    }
}

/* mid-section */

.mid__section {
    margin: 5em 0 5em;
}

.mid__section .col {
    gap: 4em;
    border-style: none;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 10px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin: 2em auto;
    padding: 1.5em 1em 1.5em 5em;
}

.mid__section .col:nth-child(odd) {
    flex-direction: row;
}

.mid__section .col:nth-child(even) {
    flex-direction: row-reverse;
}

.img-sub {
    width: 30vw;
}

@media (max-width: 820px) {

    .mid__section .col {
        width: 95vw;
        gap: 2em;
        margin: 2em auto;
        padding: 2em 1em;
    }

    .mid__section .col:nth-child(even) {
        flex-direction: column-reverse;
    }

    .mid__section .col:nth-child(odd) {
        flex-direction: column-reverse;
    }

    .img-sub {
        width: 70vw;
    }
    
}

/* lower-content-section */

.lower__section .col-lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2em 0;
    width: 50vw;
    margin-bottom: -5em;
    z-index: 1;
    position: relative;
    background: #fff;
}

.lower__section .col-lower {
    border-style: none;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 10px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@media (max-width: 820px) {
    .lower__section .col-lower {
        text-align: center;
        width: 55vw;
    }
}

@media (max-width: 450px) {
    .lower__section .col-lower {
        width: 95vw;
    }
}

/* footer-section */

footer {
    background: var(--clr-neu-vdar-cyan);
    padding: 8em 0 3em;
}

footer .logo {
    filter: brightness(0) invert(1);
}

footer .col {
    display: grid;
    grid-template-columns: 30vw 16vw 16vw 14vw;
    justify-content: unset;
    align-items: unset;
}

footer .col * {
    margin: 1em 0;
}

footer .container ul li a {
    text-decoration: none;
    color: #fff;
}

footer .container ul li a:hover,
footer .container ul li a:focus {
    outline: none;
    text-decoration: underline;
}


footer .container .details {
    padding-left: 2em;
}

footer > .container > ul > li:nth-child(1) {
    background: url('../images/icon-location.svg');
    background-repeat: no-repeat;
}

footer > .container > ul > li:nth-child(2) {
    background: url('../images/icon-phone.svg');
    background-repeat: no-repeat;
}

footer > .container > ul > li:nth-child(3) {
    background: url('../images/icon-email.svg');
    background-repeat: no-repeat;
}

.social li {
    margin: -1em 0;
}

footer .col nav .social {
    display: flex;
    flex-direction: row;
}

footer .col nav .social li {
    padding: 0 1em;
}

.social a {
    transition: all 0.25s;
}

.social a:hover,
.social a:focus {
    color: var(--clr-pri-pink);
}

footer div p {
    text-align: end;
    color: #fff;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 5em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 820px) {
    footer .col {
        display: grid;
        grid-template-columns: 90vw;
        text-align: start;
        gap: unset;
    }

    footer .container {
        padding: 0;
    }

    footer .logo {
        width: 12em;
    }

    footer .container .details {
        width: 70vw;
    }

    footer .col div,
    footer .col nav {
        margin: 0;
    }

    footer .col nav .social {
        padding: 0 1em;
        justify-content: center;
    }

    footer .col nav .social li {
        padding: 0 1em;
    }

    footer div p {
        text-align: center;
    }
}